@{
    ViewData["Title"] = "Message Sent";
}

<h2>@ViewData["Title"]</h2>

<p>Your message has been successfully sent to the queue!</p>

<a asp-action="SendMessage" class="btn btn-primary">Send Another Message</a>
